# Ignore Gradle project-specific cache directory
.gradle
.vocalcord

# Ignore Gradle build output directory
build

logs/
property.json
dictionary.json
.vocalcord/vocalcord_phrases.cache
.vscode/launch.json
description.json
allowed_list
app/bin/main/GOOGLE_APP_CREDENTIALS.json
app/src/main/resources/GOOGLE_APP_CREDENTIALS.json
