name: Java CI with Gradle

on:
  pull_request:
    branches:
      - main
      - '!release/*'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Grant execution permission for gradlew
        run: chmod +x ./gradlew
      - name: Gradle actions
        uses: gradle/gradle-build-action@v3
        with:
          arguments: |
            build
            -i
            --stacktrace
            