name: Java CI with Gradle

on:
  pull_request:
    branches:
      - main
  merge_group:
    branch:
      - main
    branch-ignore:
      - release/*
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  gradle:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
      - name: Grant execution permission for gradlew
        run: chmod +x ./gradlew ./gradlew.bat
      - name: Gradle actions
        uses: gradle/gradle-build-action@v3
        with:
          arguments: |
            test
            -i
            --stacktrace
            